@model Capitulo01.Models.Departamento

@{
    ViewData["Title"] = "Deletar Departamento";
    Layout = "_LayoutIES";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/font-awesome.min.css"
              asp-fallback-href="~/lib/font-awesome/css/all.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />
    </environment>
}

<h3>Tem certeza que deseja deletar este departamento?</h3>

<div class="card mt-3">
    <div class="card-header bg-danger text-white">
        Departamento
    </div>
    <div class="card-body">
        <div class="form-group">
            <label asp-for="DepartamentoID" class="control-label"></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="DepartamentoID" class="form-control" disabled />
            </div>

            <label asp-for="Nome" class="control-label"></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="Nome" class="form-control" disabled />
            </div>

            <label asp-for="Instituicao.Nome" class="control-label"></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-university" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="Instituicao.Nome" class="form-control" disabled />
            </div>
        </div>
    </div>
    <div class="card-footer text-center bg-info text-white">
        <a asp-action="Index" class="btn btn-secondary">Voltar à lista</a>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmationDelete">
            Deletar Departamento
        </button>
    </div>
</div>

<div class="modal fade" id="modalConfirmationDelete" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModal">Confirmação de Remoção</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir o departamento <strong>@Model.Nome</strong>?</p>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="DepartamentoID" />
                    <button type="submit" class="btn btn-danger">Remover</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section ScriptPage {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
    
