@model Capitulo01.Models.Departamento

@{
    ViewData["Title"] = "Detalhes do Departamento";
    Layout = "_LayoutIES";
}

<div class="card mt-3">
    <div class="card-header bg-secondary text-white text-center h4">
        Departamento
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
        </dl>
    </div>
    <div class="card-footer text-center">
        <a asp-action="Edit" asp-route-id="@Model.DepartamentoID" class="btn btn-warning">Editar</a>
        <a asp-action="Index" class="btn btn-info">Voltar à lista</a>
    </div>
</div>

