@model Modelo.Docente.Professor

@{
    ViewData["Title"] = "Excluir Professor";
    Layout = "_LayoutIES";
}

<div class="card-block">
    <div class="card-header text-white bg-danger text-center h1">
        Tem certeza que deseja excluir este professor?
    </div>

    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ProfessorID)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ProfessorID)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nome)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ProfessorID" />
            <div class="form-group text-center h3">
                <input type="submit" value="Confirmar Exclusão" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>

    <div class="card-footer bg-warning text-center text-dark">
        <strong>Atenção:</strong> Esta ação não pode ser desfeita!
    </div>
</div>